<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aweikn.springseed.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.aweikn.springseed.entity.User">
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
        <result column="USER_SEX" jdbcType="VARCHAR" property="userSex" />
        <result column="USER_AGR" jdbcType="INTEGER" property="userAgr" />
        <result column="USER_PWD" jdbcType="VARCHAR" property="userPWD" />
        <result column="USER_MAIL" jdbcType="VARCHAR" property="userMail" />
        <result column="LAST_NAME" jdbcType="VARCHAR" property="lastName" />
        <result column="FAST_NAME" jdbcType="VARCHAR" property="fastName" />
        <result column="PARTY_TYPE" jdbcType="VARCHAR" property="partyType" />
        <result column="PARTY_CODE" jdbcType="VARCHAR" property="partyCode" />
        <result column="USER_CREATE_DATE" jdbcType="TIMESTAMP" property="userCreateDate" />
        <result column="USER_UPDATE" jdbcType="TIMESTAMP" property="userUpdate" />
    </resultMap>
<!--    parameterType="java.lang.Integer"-->
    <select id="Sel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
<!--    <select id="Sel" resultType="com.aweikn.springseed.entity.User">-->
        SELECT T.*  from  `USER` T  where T.USER_ID = ${userId};
    </select>

    <select id="getInfo" resultMap="BaseResultMap" >
        select t.* from `USER` t;
    </select>

</mapper>