<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aweikn.springseed.mapper.UserBookMapper">

    <resultMap id="BaseResultMap" type="com.aweikn.springseed.entity.UserBook">
        <result column="USER_BOOK_ID" jdbcType="INTEGER" property="userBookId" />
        <result column="USER_BOOK_NAME" jdbcType="VARCHAR" property="userBookName" />
        <result column="USER_BOOK_CREATE_DATE" jdbcType="VARCHAR" property="userBookCreateDate" />
        <result column="USER_BOOK_UPDATE" jdbcType="VARCHAR" property="UserBookUpDate" />
        <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
        <result column="USER_BOOK_STATUS" jdbcType="TIMESTAMP" property="userbookStatus" />
        <result column="PARTY_TYPE" jdbcType="VARCHAR" property="partyType" />
        <result column="PARTY_CODE" jdbcType="VARCHAR" property="partyCode" />
    </resultMap>

    <select id="getUserBookByUserId" resultMap="BaseResultMap">
        select t.* from  USER_BOOK t where t.USER_ID = #{userId};
    </select>
</mapper>